@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}
.star {
  animation: twinkle 2s infinite ease-in-out;
}
